* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

/* Estilos da página principal */
body {
    margin: 0;
    position: relative;
      min-height: 100vh;
}

/*HOME*/
.main-page {
    background: black;
    background-image: url('../Imagens/frente\ 1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    margin: 30px 20px;

    width: 150px; /* Ajuste o tamanho do logo conforme necessário */
}

.hero-section {
    text-align: center;
    padding: 0 20px;
}

.txt-titulo {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 10px;
}

div.txt-animado {
  color: white;
  font-size: 1.25em;
  font-weight: bold;
  margin-right: 30px;
   text-align: center;
}

.txt-animado span {
  position: relative;
  color: #00BBFF;
}

.txt-animado span::before {
  content: "Vanádio";
  color: #00BBFF;
  animation: words 20s infinite;
}

.txt-animado span::after {
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  background-color: #272727;
  border-left: 3px solid #D62828;
  right: -8px;
  animation: cursor 0.7s infinite, typing 20s steps(12) infinite;
}

@keyframes cursor {
  to {
    border-left: 3px solid #c80101;
  }
}

@keyframes words {
  0%,
  20% {
    content: "Vanádio";
  }
  21%,
  40% {
    content: "Minerais";
  }
  41%,
  60% {
    content: "Vanádio";
  }
  61%,
  80% {
    content: "Minerais";
  }
  81%,
  100% {
    content: "Vanádio";
  }
}

@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 5px);
  }
}

.txt {
    font-size: 1em;
    margin-bottom: 20px;
    text-align: center;
}

.btn-agenda {
    width: 250px;
    height: 60px;
    text-decoration: none;
    background-color: #D62828;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: ease 0.5s all;
}

.btn-agenda:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px #c80101;
}

.marcas {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 30px;
    margin-top: auto;
}

.logo-marca {
    height: 80px; 
    filter: drop-shadow(0 0 20px #0000005c);
}

/*MENU*/
.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #E6F4FA; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    z-index: 99;
}

.menu-links {
    list-style: none;
    padding: 0;
    text-align: center;
}

.menu-item {
    font-size: 1.5em;
    font-weight: bold;
    color: #1C1C1C;
    text-decoration: none;
    margin: 20px 0;
    display: block;
}

.menu-overlay {
    opacity: 0;
    visibility: hidden;
}

#checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
}

#checkbox {
    display: none;
}

.toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: .5s;
    z-index: 100;
}

.bars {
    width: 100%;
    height: 4px;
    margin-right: 20px;
    background-color: #D62828; 
    border-radius: 4px;
}

#bar2 {
    transition-duration: .8s;
}

#bar1, #bar3 {
    width: 70%;
}

#checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: .5s;
}

#checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .5s;
}

#checkbox:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
    background-color: #D62828; 
}

#checkbox:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
    background-color: #D62828; 
}

#checkbox:checked + .toggle {
    transition-duration: .4s;
}

/*ANIMAÇÕES*/
.fade-title {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 1.2s ease-out, transform 1.2s ease-out;
}

.fade-img {
  opacity: 0;
  transform: scale(0.2);
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.fade-title.show {
  opacity: 1;
  transform: translateX(0);
}

.fade-img.show {
  opacity: 1;
  transform: scale(1);
}

/*SOBRE*/
.sobre {
    display: flex;
    flex-direction: column;
    margin: 40px 20px;
}

.sobre .txt-section {
    color: #1C1C1C;
}

.sobre .title-section {
    font-size: 1.5em;
    font-weight: bold;
    color: #1C1C1C;
    margin-bottom: 20px;
}

.fonte {
  display: flex;
  flex-direction: column;
}

.sobre .fonte img {
    border-radius: 0 20px;
    margin-bottom: 30px
}

.sobre .fonte p {
    text-align: justify;
}

.sobre .btn-saiba {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    background-color: #00BBFF;
    margin: auto;
    text-decoration: none;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    margin-top: 20px;
    transition: ease 0.5s all;
}

.sobre .btn-saiba:hover {
    background: #D62828;
    transform: translateY(-5px);
    box-shadow: 0 0 15px #c80101;
}

/*DETAQUES*/
.projeto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 40vh;

}

.embalagem {
  max-width: 100vw;
  padding: 20px 10px;
  margin: 10px 0;
  overflow: hidden;
}

.embalagem .cartao {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background: #ffffff;
}

.cartao .img-cartao {
  position: relative;
}

.cartao .img-cartao img {
  width: 100%;
  padding: 10px;
}

.embalagem .swiper-pagination-bullet {
  position: relative; /* necessário para o ::before */
  height: 15px;
  width: 15px;
  border-radius: 5% 60% 50% 60%; /* gota mais natural */
  overflow: hidden;
  opacity: 1;
  background: #E6F4FA;
}

.embalagem .swiper-pagination-bullet-active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #00BBFF;
  border-radius: inherit; /* segue o formato da gota */
  
  transform: scaleY(0);            /* começa vazio */
  transform-origin: top center;    /* enche de cima para baixo */
  
  animation: preencher-gota 5s linear forwards;
}

.container:hover .embalagem .swiper-pagination-bullet-active::before {
  animation-play-state: paused;
}

@keyframes preencher-gota {
  100% {
    transform: scaleY(1); /* cheio */
  }
}


.embalagem :where(.swiper-button-prev, .swiper-button-next) {
  color: #00BBFF;
  margin-top: -35px;
  transition: all 0.3s ease;
}

.embalagem .swiper-button-prev {
  display: none;
}

.embalagem .swiper-button-next {
  display: none;
}

.embalagem :where(.swiper-button-prev, .swiper-button-next):hover {
  color: #00BBFF;
}

 /*SAIBA*/
.saiba {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    width: 100%;
    height: 500px;
    text-align: center;
}

.saiba img  {
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 1;
}

.saiba .title-section {
    color: white;
    margin-top: 400px;
    z-index: 2;
    position: relative;
}

.saiba a {
  background: #00BBFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25em;
    width: 200px;
    height: 70px;
    padding: 10px;
    margin: 15px  auto 60px auto;
    text-decoration: none;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    z-index: 2;
    position: relative;
    transition: ease 0.5s all;
}

.saiba a:hover {
  background: #D62828;
  transform: translateY(-5px);
  box-shadow: 0 0 15px #ff0000;
}

/*MARCAS*/
.sobre-marcas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

.marcas {
  display: flex;
  flex-direction: column;
}

.marcas .pure {
  display: flex;
  flex-direction: column;
}

.marcas .crystal {
  display: flex;
  flex-direction: column;
}

.sobre-marcas .title-section {
    margin-top: 30px;
}

.sobre-marcas .logo-marca {
    width: 150px;
    height: auto;
    margin-top: 40px;
    filter: drop-shadow(0 0 20px #0000005c);
}

.sobre-marcas .btn-saiba {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    background-color: #00BBFF;
    margin: auto;
    text-decoration: none;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    margin-top: 20px;
    transition: ease 0.5s all;
}

.sobre-marcas .btn-saiba:hover {
    background: #D62828;
    transform: translateY(-5px);
    box-shadow: 0 0 20px #c80101;
}

 /*CONTATO*/
.contato {
    display: flex;
    flex-direction: column;
    margin: 40px 20px;
}

.contato .title-section {
    font-size: 1.5em;
    font-weight: bold;
    color: #1C1C1C;
    margin-bottom: 20px;
    margin: 20px auto;
}

.contato .txt-section {
    color: #1C1C1C;
    margin: 0 auto 20px auto;
    text-align: justify;
    max-width: 600px;
}  

/*FORMULÁRIO*/
.form {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 90vw;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  background-color:#a0aaaf;
  transition: ease 0.5s all;
}

.form:hover {
  transform: translateY(-15px);
  box-shadow: 0 0 20px #c80101;
}

.title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #ffffff;
}

.title::before {
  width: 18px;
  height: 18px;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #D62828;
}

.signin {
  font-size: 14.5px;
  color: #1C1C1C;
}

.signin {
  text-align: center;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.signin a {
  color: #00bfff;
}

.form label {
  position: relative;
}

.form label .input {
  background-color: #E6F4FA;
  opacity: 60%;
  color: #fff;
  width: 100%;
  padding: 20px 05px 05px 10px;
  outline: 0;
  border: 1px solid #1c1c1c7a;
  border-radius: 10px;
}

.form label #texto {
    height: 150px;
}

.form label .input + span {
  color: #1C1C1C;
  opacity: 50%;
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  color: #00bfff;
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.input {
  font-size: medium;
}

.submit {
  border: none;
  outline: none;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
  background-color: #D62828;
  transition: ease 0.5s all;
}

.submit:hover {
  background-color: #c80101;
  transform: translateY(-5px);
  box-shadow: 0 0px 10px #E6F4FA;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

/*FOOTER*/
footer {
 display: flex;
    flex-direction: column;
  background: #E6F4FA;
}

footer img {
  width: 200px;
  margin: 10px 0 20px 0;
  align-self: center;
  filter: drop-shadow(0 0 20px #0000005c);
}

footer .title-section {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 45px;
}

footer .linha-decorativa {
  width: 80%;
  align-self: center;
  height: 2px;
  background-color: #D62828;
  border-radius: 2px;
  margin-bottom: 20px;
}

footer p {
  margin-left: 45px;
  color: #1C1C1C;
}

iframe {
  
  margin: 40px;
}


.iframe {
  margin-top: 200px;
}
.map-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 70%; /* opcional, limita tamanho */
  margin: auto;   /* centraliza */
}

.map-container iframe {
  width: 100%;
  height: 300px; /* altura ajustável */
  display: block;
  border: none;
}


/* BOTÕES ANCORAS */
.button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #D62828;
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 4px #c80101;
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 999;
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

.button:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: #c80101;
  align-items: center;
}

.button:hover .svgIcon {
  width: 20px; 
  transition-duration: 0.3s;
  transform: translateY(-200%);
}

.button::before {
  position: absolute;
  bottom: -20px;
  content: "voltar ao topo";
  color: white;
  
  font-size: 0px;
}

.button:hover::before {
  font-size: 13px;
  opacity: 1;
  bottom: unset;
  
  transition-duration: 0.3s;
}

.svgWhatsapp {
  width: 30px;
  height: 30px;
  fill: white;
  display: block;
}

.button.whatsapp:hover .svgWhatsapp {
  width: 28px;
  height: 28px;
  transform: translateY(-200%);
}

.button.whatsapp {
  background-color: #25d366;
  box-shadow: 0px 0px 0px 4px #1ebd5a;
  right: 20px;
  left: auto;
}

.button.whatsapp:hover {
  background-color: #1ebd5a;
}

.button.whatsapp::before {
  content: "WhatsApp";
}


